extends layouts/main.pug
include mixins/buttons
include mixins/dropdown
block content
    //- Declaration


    .styleguide
    +dropdown({
        name: 'Спосію оплати',
        className: 'order_payment',
        list: ['ua', 'pl', 'sdfsdf']
    })
    +btn({
        name: 'клипочка велика',
        size: 'big',
    })
    +btn({
        name: 'клипочка велика',
        size: 'small',
    })
    +btn({
        name: 'клипочка велика',
    })
    article
        h1 Hello World
        h2 Hello World
        h3 Hello World
        h4 Hello Worl





