extends layouts/main.pug
block content
    .styleguide
        .dropdown.order_payment
            .overflow
                span Спосіб оплати
                button.drop_arrow
            ul
                li test test test 1
                li test test test 2
                li test test test 3
                li test test test 4
            input(type="hidden" name="payment" value="")

        article
            h1 Hello World
            h2 Hello World
            h3 Hello World
            h4 Hello World





    .btn.test test